<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]='form'>

    <ion-item lines="full">
      <ion-label position="floating">Corre electrónico</ion-label>
      <ion-input type="text" required formControlName='email'></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" required formControlName='password'></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)='login()'>Entrar</ion-button>
      </ion-col>
    </ion-row>
    
  </form>
</ion-content>
