<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="order"></ion-back-button>
    </ion-buttons>

    <ion-title *ngFor="let order of orders">{{ order.orderName }}</ion-title>

    <ion-buttons slot="end">
      <ion-icon name="checkmark-done-outline" (click)="presentAlertConfirm()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let order of orders">
      <ion-grid>

        <ion-card>
          <ion-card-header>
            <img src="{{order.imageUrl}}">
            <ion-card-subtitle>Nombre de la tienda</ion-card-subtitle>
            <ion-card-title>{{ order.orderName }}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-card-subtitle>Descripción</ion-card-subtitle>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
          </ion-card-content>
        </ion-card>

      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-grid>
    <!-- List of Text Items -->
    <ion-list *ngFor="let order of orders">
      <ion-item *ngFor="let product of order.products" (click)='showProductInfo(product.idProduct)'>
        <ion-label>{{ product.name }}</ion-label>
        <ion-label>Cantidad: {{ product.quantity }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>

  <ion-list>
    <ion-button expand="block" color="primary" (click)='locatePosition()'>
      Mostrar dirección
    </ion-button>
  </ion-list>

  <!--<ion-list>
    <ion-button expand="block" color="primary" (click)='updateAnyInfoInService()'>
      Update something in 
    </ion-button>
  </ion-list>-->

  <ion-list>
    <ion-grid>

      <ion-row>
        <ion-item>
          <ion-icon slot="start" name="locate"></ion-icon>
          <ion-label position="stacked">Dirección</ion-label>
          <!--<ion-textarea [(ngModel)]="address" type="text" style="margin-top:20px;"></ion-textarea>-->
        </ion-item>

        <!--<ion-button shape="round" expand="block" (click)="confirmPickupLocation()">Confirm Pickup Location</ion-button>-->
      </ion-row>

    </ion-grid>
  </ion-list>

  <div id="mapId" style="height:200px"></div>

</ion-content>
