<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="product"></ion-back-button>
    </ion-buttons>

    <ion-title *ngFor="let product of products">{{ product.name }}</ion-title>

    <ion-buttons slot="end">
      <ion-icon name="create-outline" (click)="editProduct()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-grid>

        <ion-card>
          <ion-card-header>
            <img src="{{product.imageUrl}}">
            <ion-card-subtitle>Nombre del producto</ion-card-subtitle>
            <ion-card-title>{{ product.name }}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          </ion-card-content>
        </ion-card>

      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
