<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome to DeliverIt
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="auth-form">

  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">
          Registrar
        </ion-button>

        <ion-item-divider>
          <ion-label>
            <span class="already">¿Ya es un usuario?</span>
          </ion-label>
        </ion-item-divider>

        <ion-button [routerLink]="['/login']" expand="block" color="danger">
          Iniciar sesión
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
